{% extends "cyberdevice/base.html" %}
{% load static %}

{% block title %}Pong!{% endblock %}

{% block da_css %}
  <link rel="stylesheet" href="{% static 'da/PingPong/css/pong.css' %}" type="text/css" media="screen, print"/>
{% endblock %}

{% block da %}
  <canvas id="game"></canvas>
  <h3>How to play?</h3>
  <h5>掃描 QR code 後, 擺動手機來控制畫面上的板子</h5>
{% endblock %}

{% block da_script %}
  <script defer src="{% static 'da/PingPong/js/game.js' %}"></script>
  <script defer src="{% static 'da/PingPong/js/pong.js' %}"></script>
  <script defer src="{% static 'da/PingPong/js/sa.js' %}"></script>
{% endblock %}
